*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #Fff;
}


body{

    height : 100vh;

}

.bar{
    background: orange;
    text-align: center;
    width: 100vw;
    padding: 10px;
}
